*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f2f2f2;
    color:#222;
}

.topo{
    background:#0f5c7a;
    color:white;
    padding:20px;
    text-align:center;
}

main{
    padding:15px;
    padding-bottom:100px;
}

.card{
    background:white;
    border-radius:18px;
    padding:15px;
    margin-bottom:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

h2{
    margin-bottom:15px;
    color:#0f5c7a;
}

label{
    display:block;
    margin-top:12px;
    margin-bottom:5px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:14px;
    border-radius:12px;
    border:1px solid #ccc;
    margin-bottom:10px;
}

button{
    width:100%;
    border:none;
    padding:14px;
    border-radius:12px;
    background:#0f5c7a;
    color:white;
    font-weight:bold;
    margin-top:10px;
}

.menu{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background:white;
    display:flex;
    border-top:1px solid #ddd;
}

.menu button{
    border-radius:0;
    margin:0;
    background:white;
    color:#0f5c7a;
}

.aba{
    display:none;
}

.aba.ativa{
    display:block;
}

.funcionario{
    background:#f8f8f8;
    border-radius:15px;
    padding:15px;
    margin-bottom:12px;
}

.funcionario.vermelho{
    border-left:8px solid red;
}

.funcionario.verde{
    border-left:8px solid green;
}

.botoes{
    display:flex;
    gap:10px;
    margin-top:10px;
}

.btn-editar{
    background:#f39c12;
}

.btn-ponto{
    background:green;
}

.historico-item{
    background:#fafafa;
    padding:12px;
    border-radius:12px;
    margin-bottom:10px;
}

#gradeArmarios{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

.armario{
    height:70px;
    border-radius:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    font-weight:bold;
}

.armario.livre{
    background:green;
}

.armario.ocupado{
    background:#0f5c7a;
}

.popup{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    justify-content:center;
    align-items:center;
}

.popup-conteudo{
    width:90%;
    max-width:400px;
    background:white;
    padding:20px;
    border-radius:20px;
}

@media(max-width:500px){

    #gradeArmarios{
        grid-template-columns:repeat(3,1fr);
    }

}